.App {
  text-align: center;
  background-color: rgb(212, 185, 228);
  padding: 20px;
}

.heading__large {
  margin-top: 3rem;
  box-sizing: border-box;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgb(114, 114, 114);
}
